@model Task_Management_System.Controllers.DTO.ProjectDto
@using Task_Management_System.Models.Enum

<form action="/Project/Create" method="post">
    <div class="col-md-12">
        <label>Title</label>
        <input type="text" name="Title" class="form-control"  />
    </div>
    <div class="col-md-12">
        <label>Description</label>
        <textarea name="Description" class="form-control"></textarea>
    </div>
    <div class="col-md-12">
        <label>StartDate</label>
        <input name="StartDate" class="form-control" type="date"  />
    </div>
    <div class="col-md-12">
        <label>EndDate</label>
        <input name="EndDate" class="form-control" type="date"  />
    </div>
    <div class="col-md-12">
        <label>Project Status</label>
        <select name="Status" asp-items="Html.GetEnumSelectList<ProjectStatus>()" class="form-control"></select>
    </div>
    <br />
    <div  class="form-control">
            <label>Team Names</label>
        <br />
            @foreach (var item in Model.Teams)
            {
            <div>
                <input type="checkbox" name="TeamIds"  />
                <label>@item.Name</label>
            </div>
            }
            
           
        </div>

   
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>
