@model Task_Management_System.Controllers.DTO.CreateUserDTO
@using Task_Management_System.Models.Enum

<form action="/User/Create" method="post">
    <div class="col-md-12">
        <label>Full Name</label>
        <input type="text" name="FullName" class="form-control" />
    </div>
    <div class="col-md-12">
        <label>Email</label>
        <textarea name="Email" class="form-control"></textarea>
    </div>
    <div class="col-md-12">
        <label>Password</label>
        <input name="PasswordHash" class="form-control" type="password" />
    </div>
    <div class="col-md-12">
        <label>Role</label>
        <select name="Role" asp-items="Html.GetEnumSelectList<UserRole>()" class="form-control"></select>

    </div>
   @*  <div class="col-md-12">
        <label>CreatedAt</label>
        <input name="CreatedAt" class="form-control" type="date" />
    </div> *@
    <br />
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>
